.btn {

    &:not(.btn-link) {
        text-transform: uppercase;
    }

    img[src*="arrows"] {
        margin-top: -3px;
        margin-left: 0.5rem;
        width: 1.5rem;
    }

    &-link {
        text-decoration: underline;

        &:focus {
            border: 1px solid $input-focus-border-color;
            box-shadow: $input-focus-box-shadow;
        }
    }

    &-wide {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    &-primary {
        border-color: darken($primary, 7);
    }

    &-unstyled {
        padding: 0;
        background: 0;
        border: 0;
        border-radius: 0;
        box-shadow: none;
    }

    .input-group & {
        border-width: 1px;
    }
}