#footer-nav {
    columns: 4;
    column-gap: 4rem;

    a { 
        padding: 0.3rem 0;
        color: $gray-600;
        display: block;

        &:hover { color: $primary; }

        &:nth-of-type(8) {
            break-after: always;
        }
    }
}

#site-footer {
    padding-top: 4rem;

    .container {
        max-width: 75vw;
    }

    .logo-container { float: right; }

    .logo {
        width: 100px;
        
        #tagline { display: none; }
    }

    .social {
        margin-top: -2rem; 
        float: right;

        .icon {
            margin-left: 0.25rem;
            width: 2rem;
            height: 2rem;
        }
    }
}