.custom-select {
    appearance: none;
    -webkit-appearance: none;
    
    &:ms-select { display: none; }

    &:focus {
        border: 1px solid $input-focus-border-color;
        box-shadow: $input-focus-box-shadow;
        background: $white;
    }
}

.form-control {
    line-height: calc(38px - 0.75rem);

    &-lg {
        line-height: 42px;
    }

    @include media-breakpoint-down(lg) {
        line-height: calc(36px - 0.75rem);
    
        &-lg {
            line-height: 40px;
        }
    }

    @include media-breakpoint-down(md) {
        line-height: calc(34px - 0.75rem);
    
        &-lg {
            line-height: 38px;
        }
    }

    @include media-breakpoint-down(sm) {
        line-height: calc(32px - 0.75rem);
    
        &-lg {
            line-height: 36px;
        }
    }
}

textarea {
    &.form-control{ min-height: 5rem; }
}

.form-check {
    margin-bottom: $form-group-margin-bottom;

    .form-check-input {
        margin-top: 0;
        top: calc(50% - 9px);
    }
}

.input-group-lg .input-group-append > .btn-icon {
    padding-left: 1rem;
    padding-right: 1rem;

    .icon { 
        width: 1rem;
        height: 1rem;
     }
}

.selectr-selected:focus {
    border: 1px solid $input-focus-border-color;
    box-shadow: $input-focus-box-shadow;
    outline: none;
}