@media screen and (max-width:400px) {
    @-ms-viewport{
        width:320px;
    }
}

html {
    font-size: 85%;

    @include media-breakpoint-up(md) {
        font-size: 90%;
    }
    @include media-breakpoint-up(lg) {
        font-size: 95%;
    }
    @include media-breakpoint-up(xl) {
        font-size: 100%;
    }

    @media screen and (min-width: 1600px) {
        font-size: 110%;
    }
}

body,
html {
    max-width: 100vw;
    
    @include media-breakpoint-down(lg) {
        overflow-x: hidden;
    }
}

.content {

    &.max-width {
        max-width: 100vw;
        overflow-x: hidden;
    }
}

.container {

    @include media-breakpoint-down(lg) {
        max-width: 100%;
    }     

    @include media-breakpoint-up(xl) {
        max-width: 1200px;
        padding-right: 0;
        padding-left: 0;
    }       
}


.bg-full-gray {
    position: relative;
    padding-top: $section-pad;
    padding-bottom: $section-pad;
    background: $gray-100;

    @include media-breakpoint-up(xl) {
        padding-top: $section-pad-desk;
        padding-bottom: $section-pad-desk;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
        width: 50vw;
        background: inherit;
    }

    &::before { left: 99%; }

    &::after { right: 99%; }
}

.bg-full-primary {
    position: relative;
    padding-top: $section-pad;
    padding-bottom: $section-pad;
    color: $white;
    background: $primary;

    @include media-breakpoint-up(xl) {
        padding-top: $section-pad-lg;
        padding-bottom: $section-pad-lg;
    }

    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5, 
    h6, .h6 { color: $white; }

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
        width: 50vw;
        background: inherit;
    }

    &::before { left: 99%; }

    &::after { right: 99%; }

}

.bg-full-image {
    position: relative;
    padding: $section-pad-sm 0;
    color: $white;

    @include media-breakpoint-up(md) {
        padding-top: $section-pad-lg;
        padding-bottom: $section-pad-lg;
    }

    @include media-breakpoint-up(xl) {
        padding: $section-pad-lg-desk 0;
    }

    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5, 
    h6, .h6,
    p { color: $white; }

    .container {
        position: relative;
        z-index: 1;
    }

    .image-bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.black-overlay {
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: rgba($black, 0.5);
    }
}

.centered-text-block {
    margin: 0 auto;
    text-align: center;

    @include media-breakpoint-up(md) {
        max-width: 90vw;
    }

    @include media-breakpoint-up(xl) {
        max-width: $max-content-width-desk;

        p.lead { margin-bottom: 3rem; }
    }
}

.breadcrumb-item {
    font-size: $font-size-xs;
    
    a {
        color: $black;

        &:hover,
        &:focus { color: $primary; }
    }
}


.select-wrapper {
    position: relative;
    width: 100%;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 10px;
        width: 0;
        height: 0;
        transform: rotate(0) translate3d(0,-50%,0);
        border-width: 6px 6px 0;
        border-style: solid;
        border-color: $secondary transparent transparent;
    }

    select {
        appearance: none;
        -webkit-appearance: none;

        &::ms-select { display: none; }
    }
}

.flickity-prev-next-button {
    &:hover {
        background: $gray-100;
        
        svg { fill: $primary; }
    }
}