.skip-to {
    position: absolute;
    top: -100px;
    left: 10px;
    z-index: -1;
    padding: 0.5rem;
    color: $white;
    font-weight: $font-weight-bold;
    background: $dark;
    border-radius: 0 0 $border-radius $border-radius;
    transition: top 0.3s linear;

    &:focus,
    &:active {
        top: 100%;
        transition: top 0.3s linear;
    }
}

#site_header {
    border-bottom: 1px solid $border-color;

    &.checkout {
        text-align: center;
        
        a {
            padding: 0.5rem 1rem;
            margin: 0 auto;
            width: 240px;
            display: block;
        }
    }

    .navbar {
        padding: 0;

        > .container {

            @include media-breakpoint-down(xl) {
                max-width: 100% !important;
            }
        }

        &.bg-primary {
            @include media-breakpoint-down(md) {
                padding: 0.5rem 0;
                background: $white !important;
            }
        }

        &-toggler-icon {
            background: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }

        &-collapse {
            margin-top: -2px;
            min-width: 85%;
            background: $gray-100;
            border-bottom: 2px solid $primary;

            @include media-breakpoint-down(md) {
                padding: 0.5rem;
                flex-flow: row wrap;
                justify-content: space-between;

                > * { opacity: 0; }

                &.show { 
                    display: flex;

                    > * {
                        opacity: 1;
                        transition: opacity 0.3s linear;
                    }
                }

                .navbar-nav { 
                    width: 100%;
                    order: 4;
                }

                .form-inline {
                    margin: 1rem 0;
                    width: 50%;

                    .input-group { width: 100%; }
                }

                .btn-primary { margin-right: 1rem; }
            }

            @include media-breakpoint-down(sm) {

                > .btn { 
                    order: 1;
                    width: calc(50% - 1rem);

                    &.btn-primary { 
                        order: 2;
                        margin: 0;
                    }
                }

                .form-inline {
                    width: 100%;
                    order: 3;
                }
            }
        }

        &-brand {
            padding-bottom: 0;
            text-align: right;
            flex: 1 0 auto;

            svg { 
                width: 200px;

                #foodie { fill: $primary; }

                #card { fill: $body-color; }

                @include media-breakpoint-up(lg) {
                    width: 175px;

                    g,
                    path { fill: $white; }
                
                }
            }

            @include media-breakpoint-down(md) {
                margin-right: -56px;
                flex: 1 0 auto;
                text-align: center;
                
                svg {
                    margin-bottom: -0.5rem;
                }
            }
        }

        &-nav {
            align-self: stretch;
        }
    }

    .nav {
        
        &-link {
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            font-weight: bold;
            text-transform: uppercase;

            @include media-breakpoint-up(lg) {
                font-size: $font-size-xs;
            }

            @include media-breakpoint-up(xl) {
                padding-left: 1rem;
                padding-right: 1rem;
                font-size: $font-size-sm;
            }
            
            &:focus {
                outline: none;
                color: $primary;
            }
        }
    }
    
    .dropdown {

        &-toggle {
            &[aria-expanded="true"] {
                margin-bottom: -2px;
                height: calc(100% + 2px);
                background: $white;
            }
        }

        &-menu {
            padding: 1rem;
            border: 0;
            border-bottom: 5px solid $primary;
            border-radius: 0 0 4px 4px;

            @include media-breakpoint-up(lg) {
                width: 150%;
            }

            .h6 { color: $primary; }

            ul {
                margin-bottom: 1rem;

                + a {
                    color: $primary;
                    text-decoration: underline;
                }
            }

            li {
                border-bottom: 1px solid $gray-200;
            }
        }

        &-item {
            padding-left: 0;
            padding-right: 0;
            font-size: $font-size-sm;
            white-space: normal;

            &:hover {
                background: transparent;
                color: $primary;
            }
        }
    }

    .btn-link {
        color: $black;
        font-weight: bold;
        text-transform: none;

        @include media-breakpoint-up(lg) {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

    .form-inline {

        .form-control {
            background: $white;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;

            &::placeholder {
                font-size: $font-size-sm;
                font-style: italic;
            }
        }
    }

    @include media-breakpoint-up(lg) {

        .form-inline {
            margin-top: 0.75rem;
            margin-bottom: 0.65rem;
            max-width: 25%;
            flex: 1 0 auto;
            justify-content: flex-end;

            .icon {
                width: 18px;
                height: 18px;
                stroke: $primary;
            }
        }

        .navbar-nav {
            flex: 1 0 auto;
        }

        .nav-item {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            &:hover {
                background: $white;
            }
        }

        .btn {
            font-size: $font-size-sm;
        }

        .btn-primary {
            min-width: 200px;
            align-self: stretch;
            display: inline-flex;
            flex-flow: row nowrap;
            align-items: center;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 0;
            border-color: transparent;
            
            img {
                margin-left: 0.5rem;
                width: 1.5rem;
                height: auto;
                vertical-align: middle;
            }
        }
    }
}