h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4  {
    margin-bottom: 1rem;

    small {
        display: block;
        font-size: 0.475em;
        font-weight: $font-weight-bold;
    }
}
@include media-breakpoint-up(lg) {

    .display-2 { margin-bottom: 3rem; }

    h1, .h1 { margin-bottom: 4rem; }

    h2, .h2 { margin-bottom: 2rem; }

    h3, .h3,
    h4, .h4 { margin-bottom: 1.5rem; }

    h5, .h5,
    h6, .h6 { margin-bottom: 1rem; }
}

.emphasized { 
    text-transform: uppercase;
}

.content {
    a:not(.btn) {
        text-decoration: underline;
    }
}

blockquote {

    > p {
        font-size: 1.25em;
        font-weight: $headings-font-weight-light;

        &::before,
        &::after {
            display: inline-block;
            font: $font-weight-bold 1.5em 'times-new-roman', times, serif;
            line-height: 0.75em;
        }

        &::before {
            content: '“';
            margin-left: -0.75em;
            width: 0.75em;
            vertical-align: sub;
        }

        &::after {
            content: '”';
            margin-left: 0.25rem;
            vertical-align: bottom;
        }
    }

    footer {
        margin-top: 1rem;
    }

    cite { 
        display: block;
        font-style: normal;

        + a {
            margin-top: 2rem;
            display: block;
        }
    }
}
