<div class="additional-recipient">
    <!-- FOR EACH GIFT ADDED NEED TO INCREMENT NAME AND ID NUMBERS -->
    <h2 class="text-primary">Foodie Card Gift #2</h2>
    <fieldset name="cardNames-2">
        <legend>
            <svg class="icon">
                <use xlink:href="fonts/feather-sprite.svg#gift"/>
            </svg>
            Let's add that lucky gift recipient's details
        </legend>

        <div class="form-group">
            <label for="nameOnCard-2" class="sr-only">Full name of gift recipient</label>
            <input type="text" name="nameOnCard-2" id="nameOnCard-2" placeholder="Full name of gift recipient" class="form-control" />
        </div>
                    
        <div class="form-check">
            <input type="checkbox" id="emailMessage-2" class="form-check-input emailMessage" />
            <label class="form-check-label" for="emailMessage-2">Add a gift message?</label>
        </div>

        <div class="messageEmail">

            <div class="form-group">
                <label for="gift-message" class="sr-only">Enter your message</label>
                <textarea name="gift-message-2" id="gift-message-2" placeholder="Add your message" class="form-control form-control-lg"></textarea>
                <small class="form-text">Gift message will be printed and included within the Foodie Card mailer</small>
            </div>

        </div>
    </fieldset>
    
    <fieldset name="shippingInfo-2">
        <legend>
            <svg class="icon">
                <use xlink:href="fonts/feather-sprite.svg#gift"/>
            </svg>
            Where should we mail the additional gift?
        </legend>
        <div class="form-check">
            <input type="checkbox" id="sameAddress" class="form-check-input" />
            <label class="form-check-label" for="sameAddress">Ship to same address</label>
        </div>
        @@include("shipping-info.html")
    </fieldset>
</div>