<div id="couponModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <p class="h3">Exciting Coupon Header!</p>
                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                        amet
                        risus. Donec sed odio dui.</p>
                        
                    <dl>
                        <dt><span class="sr-only">Deal details</span></dt>
                        <dd>
                            <small class="text-center">USE CODE:</small>
                        </dd>
                    </dl>
                    <dl class="deals">
                        <dt>
                            20% off
                            <small>disclaimer text here</small>
                        </dt>
                        <dd>
                            <span class="badge badge-dark">FOODIELOVER</span>
                        </dd>
                    </dl>
    
                    <a href="" class="btn btn-warning btn-wide">Buy Now!</a>
                </div>
            </div>
        </div>
    </div>