
            </div>
    
            <!--build:js js/site-checkout.min.js -->
    
            <!-- Bootstrap required scripts -->
            <script src="../../node_modules/jquery/dist/jquery.js"></script>
            <script src="../../node_modules/popper.js/dist/umd/popper.js"></script>
            <script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    
            <!-- Feather Icons -->
            <script src="../../node_modules/feather-icons/dist/feather.js"></script>

            <!-- Flatpickr Datetimepicker -->
            <script src="../../node_modules/flatpickr/dist/flatpickr.js"></script>
    
            <!-- Login Form Validation Starter -->
            <script src="../js/form_validation.js"></script>
    
            <!-- custom site scripts and initializations -->
            <script src="../js/site_scripts.js"></script>
            
            <!-- endbuild -->
        </body>
    </html>