<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>FoodieCard</title>
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Fonts -->
        <link rel="stylesheet" href="https://use.typekit.net/lmp2tsz.css">
        
        <!-- Vendor Combined CSS -->
        <link rel="stylesheet" href="css/vendor.min.css" />
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/styles.css" />

    </head>
    
    <body>
        <div class="page">