                <fieldset name="paymentInfo">
                    <legend>Payment Information</legend>

                    <div id="creditCard_fields" class="input-group input-group-lg">
                        <input type="number" name="cardNumber" id="cardNumber" class="form-control" placeholder="Card Number" autocomplete="cc-number" required  aria-label="Enter your credit card number" />

                        <input name="expDateMo" id="expDateMo" type="number" min="01" max="12" class="form-control" aria-label="Card Expiration Date month" placeholder="MM  /" autocomplete="cc-exp-month" required />

                        <input name="expDateYr" min="20" max="40" id="expDateYr" type="number" class="form-control" aria-label="Card Expiration Date Year"  placeholder="YY" autocomplete="cc-exp-year" required />

                        <input type="number" name="cvc" id="cvc" placeholder="CVC" class="form-control" aria-label="Card CVC number" autocomplete="cc-csc" required />

                        <!-- <input type="text" name="paymentZip" id="paymentZip" placeholder="Zip Code" class="form-control" aria-label="Billing Zip Code" autocomplete="postal-code" required /> -->
                    </div>

                    <div class="paypal">
                        PAY WITH PAYPAL HERE
                    </div>

                    <div id="couponCode_field" class="input-group input-group-lg">
                        <input type="text" name="couponCode" id="couponCode" placeholder="Enter coupon code" class="form-control" aria-label="Enter coupon code" />
                        <div class="input-group-append">
                            <button class="btn btn-dark" type="button">Apply</button>
                        </div>
                    </div>
                </fieldset>