.becomePartner {
    > .container {
        padding-top: 2rem;
        padding-bottom: 2rem;
        
        h1 {
            padding-left: 1rem;
            margin: 0;
            
            @include media-breakpoint-up(md) {
                width: 65%;
            }
        }
    }
}

#bpHero {

    .hero-text {
        padding: 0 1.5rem;
            
        @include media-breakpoint-up(md) {
            padding: 4rem 1.5rem 0;
            width: 55vw;
        }
            
        @include media-breakpoint-up(lg) {
            padding: 4rem 1.5rem;
            width: 50vw;
        }
        
        @include media-breakpoint-up(xl) {
            width: 40vw;
        }
    }

    .image-bg { 
        object-position: center -150px; 
    }
}

#becomePartnerForm {
    padding: 1.5rem;
    min-width: 260px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: $body-color;
    background: $white;
    border-top: 7px solid $gray-200;
    border-radius: $border-radius;
    box-shadow: 0 2px 5px rgba($black, 0.25);
            
    @include media-breakpoint-up(md) {
        position: absolute;
        top: 5rem;
        right: 1rem;
        width: 40vw;
        top: -2rem;
        min-width: 300px;
    }

    @include media-breakpoint-up(lg) {
        top: -10.5rem;
    }
            
    @include media-breakpoint-up(xl) {
        top: -12rem;
        right: 2rem;
        width: 32vw;
    }

    h2 { 
        width: 100%;
        color: $body-color;
        text-align: center;
    }

    .form-group { width: 100%; }

    .form-check {
        margin-bottom: 1rem;

        &-input { top: 0.35rem; }
    }

    #contactPerson_field,
    #phone_field,
    #restWebsite_field,
    #restPhone_field,
    #restFacebook_field,
    #restInsta_field {
        width: calc(50% - 0.5rem);
    }
}

#bpContent {
    padding: $section-pad $section-pad-sm;
    margin: 0 auto;
    max-width: 90vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @include media-breakpoint-up(md) {
        padding-right: 0;
        padding-left: 0;
        margin: 0 auto;
    }

    .incentives,
    .trustedRestaurants {
        
        @include media-breakpoint-up(sm) {
            width: calc(50% - 3rem);
        }    
        
        @include media-breakpoint-up(lg) {
            width: calc(50% - 5rem);
        }
    }

    .incentives {
        position: relative;
        padding-left: rem;
        margin-bottom: 2rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        > h3 {
            position: relative;

            &::before {
                position: absolute;
                left: -2rem;
                width: 1.5rem;
                height: 1.5rem;
                color: $white;
                font-size: 1rem;
                font-weight: $font-weight-bold;
                text-align: center;
                line-height: 1.6;
                background: $primary;
                border-radius: 50%;

                @include media-breakpoint-up(md) {
                    top: 5px;
                }
            }

            &:first-of-type::before { content: '1'; }

            &:nth-of-type(2)::before { content: '2'; }
            
        }

        > p:first-of-type { margin-bottom: 5rem; }

        @include media-breakpoint-up(sm) {
            padding-left: 0;
            margin-bottom: 0;
        }
            
        @include media-breakpoint-up(md) {

            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: -3rem;
                width: 1px;
                height: 100%;
                background: $border-color;
                
                @include media-breakpoint-up(lg) {
                    right: -5rem;
                }
            }
        }
                
        @include media-breakpoint-up(lg) {
            padding-left: 4rem;
        }
    }

    .trustedRestaurants {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 2rem 1fr 1fr 1fr;
        grid-gap: 1rem;
        align-items: center;
        
        @include media-breakpoint-up(sm) {
            margin-top: 13rem;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 2rem 1fr 1fr;
        }
        
        @include media-breakpoint-up(md) {
            margin-top: 0;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 2rem 1fr 1fr 1fr;
            grid-gap: 1.5rem;
        }
        @include media-breakpoint-up(md) {
            padding-right: 4rem;
        }

        h3 { 
            grid-column: 1 / -1;
            margin: 0;

            @include media-breakpoint-up(sm) {
                justify-self: center;
            }
        }
    }

    .restaurant-logo { 
        justify-self: center;

        img {
            height: auto;
            max-width: 100%;
        }
    }
}

#testimonials {
    background: $gray-200;

    .testimonial {
        position: relative;

        &-slider {

            .flickity {
                &-button.next {
                    background: transparent;
                    color: $white;
                }

                &-page-dots {
                    bottom: 1rem;
                    left: 3.5rem;
                    text-align: left;

                    .is-selected { background: $primary; }
            
                    @include media-breakpoint-up(md) {
                        bottom: 6rem;
                        left: 7.5rem;
                    }
                }
            }
            
        }

        &-content {
            position: relative;
            z-index: 1;
            padding: 2rem 4rem;
            margin: 2rem 0;
            font-size: 1.15rem;
            background: $white;
            
            @include media-breakpoint-up(md) {
                padding: 4rem;
                width: calc(50vw + 4rem);
                margin-right: calc(50vw - 4rem);
            }
                    
            @include media-breakpoint-up(xl) {
                padding: 6rem 8rem;
            }
            
            blockquote {
            
                > p {
            
                    &::before,
                    &::after { color: $primary; }
                }
            }
        }

        &-image {
            display: none;
            
            @include media-breakpoint-up(md) {
                position: absolute;
                top: -2rem;
                right: 0;
                z-index: 0;
                width: 50vw;
                height: calc(100% + 4rem);
                display: block;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

