.checkout {
    > .container {
        padding-top: $section-pad;
        padding-bottom: $section-pad;
        margin: 0 auto;
        width: 800px;
        max-width: 100%;

        h1 {
            margin-bottom: 2rem;
        }

        .nav {
            margin-bottom: 5rem;
            justify-content: center;
    
            &-link.active {
                color: $body-color;
            }
        }
    }

    #loginForm_container,
    #registerForm_container {
        padding-right: $section-pad-sm;
        padding-left: $section-pad-sm;
        text-align: center;
    }

    #registerForm_container,
    #checkout {
        position: relative;
        z-index: -1;
        margin: 0 auto;
        height: 0;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
    
        &.show {
            z-index: 0;
            height: auto;
            opacity: 1;
            pointer-events: unset;
            transition: opacity 0.3s linear;
        }
    }
}

#checkout {
    max-width: 600px;

    .purchase-details {

        &:after {
            content: '';
            position: absolute;
            top: calc(50% - 0.4rem);
            left: 0;
            width: 100%;
            height: 1px;
            background: $gray-400;
        }

        dd,
        dt {
            &.total { padding-top: 2rem; }
        }
    }
}

#purchaseForm {

    fieldset {

        &:not(:last-of-type) {
            padding-bottom: 3.5rem;
            margin-bottom: 3rem;
            border-bottom: 1px solid $border-color;
        }

        legend { 
            margin-bottom: 2rem;
            font-size: 1.25rem;
            font-weight: $font-weight-bold;
        }

        .form-group { margin-bottom: 1rem; }

        &[name*=cardNames],
        &[name*=multipleCardNames] {

            .add-card {
                margin-top: 1.5rem;
                margin-bottom: 1rem;
                text-align: left;

                &:not(:only-of-type) {
                    margin-bottom: 2rem;
                }

                + .input-group {
                    display: none;
                }
            }

            .input-group { margin-bottom: $form-group-margin-bottom; }
        }

        &[name*=multipleCardNames] {

            .form-group {
                position: relative;

                &::before {
                    position: absolute;
                    top: 0.6rem;
                    left: -3.5rem;
                    width: 2rem;
                    height: 2rem;
                    color: $white;
                    font-size: 1.25rem;
                    font-weight: $font-weight-bold;
                    text-align:center;
                    line-height: 2rem;
                    background: $primary;
                    border-radius: 50%;
                }

                &:first-of-type:before {
                    content: '1';
                }

                &:nth-of-type(2):before {
                    content: '2';
                }
            }
        }

        .input-group {

            select.custom-select {
                margin-left: -1px;
                margin-right: -1px;
                color: $gray-600;
                border-radius: 0;
            }
        }

        &[name*=giftMessage] {
            padding-bottom: 3.5rem;
            margin-bottom: 3rem;
            border-bottom: 1px solid $border-color;
            
            .messageEmail {
                margin-top: 2rem;
                display: none;

                &.show {
                    display: block;
                }
            }

            .messageSchedule {
                display: flex;
                flex-flow: row wrap;
                align-items: flex-end;

                > label {
                    width: 100%;
                }

                .form-group {
                    width: 40%;
                }

                > span {
                    margin: 0 1rem 1rem;
                    line-height: 2.4;
                    display: block;
                }

                .form-check {
                    line-height: 2.4;
                }
            }
        }

        &[name=paymentInfo] {

            #cardNumber {
                background: url("../images/card-icons.png") no-repeat center right 1rem $gray-100;
                background-size: 150px;
            }

            .input-group {
                margin-bottom: 5rem;

                .btn-primary {
                    padding-left: 2rem; padding-right: 2rem;
                }
            }
        }
    }

    .add-gift {
        margin-bottom: 2rem;

        + .additional-recipient { display: none; }
    }

    .additional-recipient {

    }
}

.purchase {

    &-info {

        > div {

            &:not(:last-of-type) {
                padding-bottom: 1rem;
                margin-bottom: 1.5rem;
                border-bottom: 1px solid $border-color;
            }

            p { margin-bottom: 0.5rem; }
        }
    }

    &-details {
        position: relative;
        padding: 3.5rem 4.5rem 2rem;
        background: $gray-200;

        dl { 
            display: flex;
            flex-flow: row wrap;
            align-content: flex-start;
        }
    
        dd,
        dt { 
            min-width: 50%;
            color: $gray-700;
    
            &.total {
                color: $primary;
                font-size: 1.25rem;
            }
        }
    
        dt {
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            flex: 1 0 auto;
    
            &.total {
                font-weight: $font-weight-base;
                text-transform: none;
            }
        }

        dd { text-align: right; }
    }

    &-help {
        margin-top: $section-pad;
        text-align: center;

        @include media-breakpoint-up(lg) {
            margin-top: $section-pad-lg;
        }

        .h4 {
            color: $gray-600;
        }

        > p { margin-bottom: 2rem; }

        > a {
            display: inline-block;
            font-size: 1.25rem;
            text-align: center;
            text-decoration: none !important;

            &:not(:last-of-type) {
                margin-right: 3rem;
            }

            .icon {
                width: 2rem;
                height: 2rem;
                stroke: $white;

                &-container {
                    margin-bottom: 1rem;
                    width: 3.5rem;
                    height: 3.5rem;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background: $primary;
                }
            }
        }
    }
}

.checkoutReview {

    > .container {
        padding-top: $section-pad;
        padding-bottom: $section-pad;
        margin: 0 auto;
        max-width: 80vw;
        display: flex;
        flex-flow: row wrap;
        align-content: stretch;
        justify-content: space-between;

        h1,
        .nav { 
            width: 100%;
            text-align: center;
        }

        h1 { margin-bottom: 2rem; }

        .nav {
            margin-bottom: 5rem;
            justify-content: center;
    
            &-link.active {
                color: $body-color;
            }
        }
    }

    .purchase {

        &-info,
        &-details {
            width: calc(50% - 4rem);
        }

        &-info {
            position: relative;
            text-align: center;

            > div { text-align: left; }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: -4rem;
                width: 1px;
                height: 100%;
                background: $border-color;
            }
        }

        &-details {
            padding-bottom: 3.5rem;
            margin-bottom: 0;
            display: flex;
            flex-flow: column nowrap;
            text-align: center;

            dl {
                flex: 1 0 auto;
                text-align: left;
            }

            dt,
            dd {
                &.total {
                    padding-top: 1rem;
                    margin-top: 0.5rem;
                    font-weight: $font-weight-bold;
                    border-top: 1px solid $gray-400;
                }
            }

            .btn-warning {
                margin-bottom: 1rem;
            }

            small { font-size: $font-size-xs; }
        }

        &-logos {
            margin-top: $section-pad-lg;
            width: 100%;
            text-align: center;

            > img {
                margin: 1rem;
                transform: scale(0.9);
            }
        }

        &-help {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.payment-info {
    margin-bottom: 3rem;

    strong { 
        margin-bottom: 0.5rem;
        display: block;
    }

    img,
    span {
        display: inline-block;
        vertical-align: middle;
    }

    img { margin-right: 3rem; }
}

.orderConfirmation {

    > .container {
        padding-top: $section-pad;
        padding-bottom: $section-pad;
    }

    .party-icon {
        margin: 0 auto 2rem;
        display: block;
        width: 100px;
        height: 100px;
    }

    h1 { 
        margin-bottom: 2rem;
        color: $primary;
    }

    .or {
        margin: 0 1rem;
        width: 2rem;
        height: 2rem;
        display: inline-block;
        color: $white;
        font-size: $font-size-sm;
        text-transform: uppercase;
        line-height: 2rem;
        background: $primary;
        border-radius: 50%;
    }

    .card-image {
        margin-top: 4rem;
        width: 15rem;
        height: auto;
        display: inline-block;
        vertical-align: middle;

        + address {
            margin-top: 4rem;
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }
    }
}