.checkout {
    > .container {
        padding-top: $section-pad;
        padding-bottom: $section-pad;
        margin: 0 auto;
        width: 800px;
        max-width: 100%;

        h1 {
            margin-bottom: 2rem;
        }

        .nav {
            margin-bottom: 1rem;
            justify-content: center;

            @include media-breakpoint-up(md) {
                margin-bottom: 5rem;
            }
    
            &-link.active {
                color: $body-color;
            }
        }
    }
}

#checkout {
    margin: 0 auto;
    max-width: 600px;

    > p.text-center {
        margin-bottom: 2rem;
    }

    #loginForm_container {
        display: none;
        opacity: 0;
        margin: 0 auto 2rem;
        border-bottom: 1px solid $border-color;

        &.show {
            display: block;
            opacity: 1;
            transition: opacity 0.3s ease;
        }
    }

    .purchase-details {

        &:after {
            content: '';
            position: absolute;
            top: calc(50% - 0.75rem);
            left: 0;
            width: 100%;
            height: 1px;
            background: $gray-400;
                
            @include media-breakpoint-up(md) {
                top: 50%;
            }
        }

        @include media-breakpoint-up(md) {
            &.single::after {
                top: 38%;
            }
        }

        dd,
        dt {
            &.total { padding-top: 2rem; }
        }

        small { 
            margin-top: 0.25rem;
            display: block;
            text-align: center;
        }
    }
}

#purchaseForm {

    fieldset {

        &:not(:last-of-type) {
            padding-bottom: 1.5rem;
            margin-bottom: 1.25rem;
            border-bottom: 1px solid $border-color;

            @include media-breakpoint-up(md) {
                padding-bottom: 3.5rem;
                margin-bottom: 3rem;
            }
        }

        legend { 
            margin-bottom: 1rem;
            font-size: 1.25rem;
            font-weight: $font-weight-bold;

            @include media-breakpoint-up(md) {
                margin-bottom: 2rem;
            }
        }

        .form-group { margin-bottom: 1rem; }

        &[name*=customerDetails],
        &[name*=multipleCardNames] {

            .add-card {
                margin-top: 1.5rem;
                margin-bottom: 1rem;
                text-align: left;

                &:not(:only-of-type) {
                    margin-bottom: 2rem;
                }

                + .input-group {
                    display: none;
                }
            }

            .input-group { margin-bottom: $form-group-margin-bottom; }
        }

        &[name*=multipleCardNames] {

            .form-group {
                position: relative;

                &::before {
                    position: absolute;
                    top: 0.6rem;
                    left: -3.5rem;
                    width: 2rem;
                    height: 2rem;
                    color: $white;
                    font-size: 1.25rem;
                    font-weight: $font-weight-bold;
                    text-align:center;
                    line-height: 2rem;
                    background: $primary;
                    border-radius: 50%;
                }

                &:first-of-type:before {
                    content: '1';
                }

                &:nth-of-type(2):before {
                    content: '2';
                }
            }
        }

        .input-group {

            select.custom-select {
                margin-right: -1px;
                color: $gray-600;
                border-radius: 0;
            }
        }

        &[name*=cardNames] {

            .messageEmail {
                margin-top: 2rem;
                display: none;

                &.show {
                    display: block;
                }
            }
            
            .messageSchedule {
                display: flex;
                flex-flow: row wrap;
                align-items: flex-end;

                > label {
                    width: 100%;
                }
                > span {
                    margin: 0 1rem 1rem;
                    line-height: 2.4;
                    display: block;
                }

                .form-check {
                    line-height: 2.4;
                }

                @include media-breakpoint-up(md) {

                    .form-group {
                        width: 40%;
                    }

                }
            }
        }

        &[name=paymentInfo] {

            .paypal {
                margin-bottom: 2rem;

                @include media-breakpoint-up(md) {
                    margin-bottom: 4rem;
                }
            }

            #couponCode_field {
                margin-bottom: 4rem;
            }
        }
    }

    .add-gift {
        margin-bottom: 2rem;
        line-height: 1.75;

        + .additional-recipient { 
            margin-bottom: 2rem;
            display: none;
            border-bottom: 1px solid $border-color;
        }
    }
}

#creditCard_fields {
    margin-bottom: $form-group-margin-bottom;
    
    #expDateMo,
    #expDateYr,
    #cvc {
        padding: 0.75rem;
        flex: none;
        border-left: 0;
        appearance: none;
    }

    #expDateMo,
    #expDateYr {
        padding-left: 4px;
        padding-right: 0;
        border-right: 0;
    }

    #expDateMo {
        width: 65px;
        text-align: right;
    }

    #expDateYr {
        width: 45px;
    }

    #cvc { 
        padding-left: 4px;
        width: 75px;
    }


    .btn-primary {
        padding-left: 2rem; padding-right: 2rem;
    }
}

#cardNumber {
    padding-left: calc(40px + 0.5rem);
    background: url("../images/visa.png") no-repeat center left 0.5rem $gray-100;
    background-blend-mode: luminosity;
    background-size: 30px 18px;

    &.has-value {
        background-blend-mode: normal;
    }
}

.purchase {

    &-details {
        position: relative;
        padding: 2rem;
        background: $gray-200;

        @include media-breakpoint-up(xl) {
            padding: 3.5rem 4.5rem 2rem;
        }

        dl { 
            display: flex;
            flex-flow: row wrap;
            align-content: flex-start;
        }
    
        dd,
        dt { 
            min-width: 50%;
            color: $gray-700;
    
            &.total {
                color: $primary;
                font-size: 1.25rem;
            }
        }
    
        dt {
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            flex: 1 0 auto;
    
            &.total {
                font-weight: $font-weight-base;
                text-transform: none;
            }
        }

        dd { text-align: right; }
    }

    &-help {
        margin-top: $section-pad;
        text-align: center;

        @include media-breakpoint-up(lg) {
            margin-top: $section-pad-lg;
        }

        .h4 {
            color: $gray-600;
        }

        > p { margin-bottom: 2rem; }

        > a {
            display: inline-block;
            font-size: 1.25rem;
            text-align: center;
            text-decoration: none !important;

            &:not(:last-of-type) {
                margin-right: 3rem;
            }

            &.disabled {
                color: $gray-500;
                cursor: not-allowed;

                .icon-container {
                    background: $gray-500;
                }
            }

            .icon {
                width: 2rem;
                height: 2rem;
                stroke: $white;

                &-container {
                    margin-bottom: 1rem;
                    width: 3.5rem;
                    height: 3.5rem;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background: $primary;
                }
            }
        }
    }

    &-logos {
        margin-top: $section-pad-lg;
        width: 100%;
        text-align: center;

        > * {
            margin: 1rem 0.5rem;
            max-width: 85px;
            height: auto;
        }

        a { 
            display: inline-block;

            img {
                width: 100%;
                height: auto;
            }
        }

        @include media-breakpoint-up(md) {

            > * {
                margin: 1rem;
                max-width: 200px;
                transform: scale(0.9);
            }

        }
    }
}

.orderConfirmation {

    > .container {
        padding-top: $section-pad;
        padding-bottom: $section-pad;
        
    }

    .party-icon {
        margin: 0 auto 2rem;
        display: block;
        width: 50px;
        height: 50px;

        @include media-breakpoint-up(md) {
            width: 100px;
            height: 100px;
        }
    }

    h1 { 
        margin-bottom: 2rem;
        color: $primary;
    }

    .purchase-info {
        position: relative;
        padding: 2rem;
        margin-bottom: 2rem;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        background: $gray-100;

        > div {
            padding-bottom: 1rem;
            margin-bottom: 1.5rem;
            width: 50%;
            text-align: left;
            border-bottom: 1px solid $border-color;

            p { 
                margin-bottom: 0.5rem;
            }

            + p {
                margin-bottom: 0;
                text-align: center;
            }
        }
    }

    .or {
        margin: 0.5rem auto;
        width: 2rem;
        height: 2rem;
        display: block;
        color: $white;
        font-size: $font-size-sm;
        text-transform: uppercase;
        line-height: 2rem;
        background: $primary;
        border-radius: 50%;

        @include media-breakpoint-up(md) {
            margin: 0 1rem;
            display: inline-block;
        }
    }

    .card-image {
        margin-top: 1rem;
        width: 12rem;
        height: auto;
        display: inline-block;
        vertical-align: middle;

        + address {
            margin-top: 2rem;
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }

        @include media-breakpoint-up(md) {
            margin-top: 4rem;
            width: 15rem;

            + address {
                margin-top: 4rem;
            }

        }
    }
}