.contactPage {

    > .container {
        padding-top: $section-pad;
        padding-bottom: $section-pad;
        margin: 0 auto;
        max-width: 600px;
        text-align: center;

        h2 .emphasized { letter-spacing: 1px; }

        @include media-breakpoint-up(lg) {
            padding-top: $section-pad-desk;
            padding-bottom: $section-pad-desk;

        }
    }

    .page-header {

        h1 { 
            margin: 0;
            color: $white;
        }

        @include media-breakpoint-up(md) {
            height: 10rem;
        }

        @include media-breakpoint-up(xl) {
            height: 20rem;
        }
    }

}

#contactForm {
    max-width: 400px;
    margin: $section-pad auto 2rem;

    textarea {
        min-height: 8rem;
        text-align: left;
    }
}