#giveIntro {
    padding-top: $section-pad;

    @include media-breakpoint-up(xl) {
        padding-top: $section-pad-desk;
    }

    h1 {
        small { margin-bottom: 3rem; }
    }
    
}

#giveGallery {
    padding-top: $section-pad;
    padding-bottom: $section-pad;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(auto-fill, minmax(160px,1fr));
        grid-auto-rows: 10px;
        grid-gap: 0.5rem;
    }

    @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
        grid-gap: 1rem;
    }

    @include media-breakpoint-up(xl) {
        grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
        grid-gap: 1.5rem;
        padding-top: $section-pad-desk;
        padding-bottom: $section-pad-desk;
    }
}

.gallery {

    &-item {
        @include media-breakpoint-down(sm) {
            width: 100%;

            &:nth-of-type(1) { 
                grid-row-start: 1;
                grid-row-end: span 2;
            }
            &:nth-of-type(2) { 
                grid-column: 2;
                grid-row-start: 1;
            }
            &:nth-of-type(3) { 
                grid-column: 2;
                grid-row-start: 2;
            }
            &:nth-of-type(4) { 
                grid-column: 1;
                grid-row-start: 3;
            }
            &:nth-of-type(5) { 
                grid-column: 2;
                grid-row-start: 3;
                grid-row-end: span 2;
            }
            &:nth-of-type(7) { 
                grid-column: 1;
                grid-row-start: 4;
            }
            &:nth-of-type(6) { 
                grid-column: 1;
                grid-row-start: 5;
                grid-row-end: span 2;
            }
            &:nth-of-type(9) { 
                grid-column: 2;
                grid-row-start: 5;
            }
            &:nth-of-type(8) { 
                grid-column: 1;
                grid-column-end: span 2;
                grid-row-start: 7;
            }
            &:nth-of-type(10) { 
                grid-column: 2;
                grid-row-start: 6;
            }

        }

        @include media-breakpoint-up(md) {
            &:nth-of-type(2),
            &:nth-of-type(4) {
                
                .gallery-content img {
                    margin-top: 3rem;
                }
            }
        }

        @include media-breakpoint-up(xl) {
            &:nth-of-type(2),
            &:nth-of-type(4) {
                
                .gallery-content img {
                    margin-top: 5rem;
                }
            }
        }
    }

    &-content {

        img { 
            max-width: 100%;
            height: auto;
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
            height: 100%;

            img { 
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
            
    }
}

#giveContent {
    margin-bottom: $section-pad-lg;

    @include media-breakpoint-up(xl) {
        margin-bottom: $section-pad-lg-desk;
    }

    p.lead { 
        margin-bottom: $section-pad;
    
        @include media-breakpoint-up(xl) {
            margin-bottom: $section-pad-desk;
        }
    }

    img {
        margin: 0 -10vw;
        max-width: 80vw;
    }
}