#homeHero {

    .carousel {

        &-item {
            position: relative;

            .container {
                padding: 1rem;
                height: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-end;
                align-content: center;
            }

            @include media-breakpoint-up(lg) {
                height:50vh;
            }

            @include media-breakpoint-up(xl) {
                height:70vh;
            }
        }

        &-image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 160%;
                object-fit: cover;
                object-position: top;

                @include media-breakpoint-up(md) {
                    height: 100%;
                    object-position: bottom;
                }
            }
        }

        &-text {
            padding: 1rem;
            color: $black;
            text-align: center;

            .btn { margin-bottom: 1rem; }

            @include media-breakpoint-up(md) {
                max-width: 50vw;

                p {
                    margin: 0 2rem 3rem;
                }
            }

            @include media-breakpoint-up(xl) {
                max-width: 40vw;
            }
        }

        @include media-breakpoint-down(sm) {
            &-control-prev { justify-content: flex-start; }

            &-control-next { justify-content: flex-end; }
        }
    }
}

#featuredRestaurants {
    margin-top: $section-pad;
    text-align: center;

    @include media-breakpoint-up(lg) {
        margin-top: $section-pad-desk;
    }

    .restaurants-container {
        margin: $section-pad auto;
        margin-bottom: $section-pad-sm;
        max-width: calc(100% - 80px);
        text-align: left;

        @include media-breakpoint-up(lg) {
            margin-top: $section-pad-desk;
            margin-bottom: $section-pad-sm-desk;
        }

        .grid {

            .card { 
                margin: 1rem 0.5rem;
                width: 200px;
                min-height: calc(100% - 2rem);
            }
        }
    }

    .flickity-button {
        &.previous { left: -60px; }
        &.next { right: -60px; }
    }

    @at-root .card {
        box-shadow: none;
        transition: boxshadow 0.3s ease;

        > a:not(.btn) { 
            color: inherit;
            text-decoration: none;
        }
        
        &:hover {
            box-shadow: 0 0 5px rgba($black, 0.25);
            transition: box-shadow 0.3s ease;

            a { text-decoration: none; }
        }

        &-image {
            height: 9rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-title {
            padding: 0.5rem 0.45rem;
            margin: 0;
            color: $white;
            font-size: 1rem;
            line-height: 1;
            text-transform: uppercase;
            background: $primary;
        }
    }
}

#howItWorks {
    margin-top: $section-pad;
    margin-bottom: $section-pad;
    text-align: center;

    @include media-breakpoint-up(lg) {
        margin-top: $section-pad-desk;
        margin-bottom: $section-pad-desk;
    }

    .steps-container {
        margin: $section-pad-sm auto;

        @include media-breakpoint-up(xl) {
            margin: $section-pad auto;
        }

        ol {
            max-width: 100%;
            counter-reset: steps-counter;

            @include media-breakpoint-up(sm) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;
                grid-gap: 1rem;
            }

            @include media-breakpoint-up(lg) {
                grid-gap: 4rem;
            }

            li {
                position: relative;
                counter-increment: steps-counter;

                &:before {
                    content: counter(steps-counter);
                    position: absolute;
                    left: 10%;
                    width: 2.25rem;
                    height: 2.25rem;
                    color: $white;
                    font-size: 1.5rem;
                    font-weight: $font-weight-bold;
                    text-align: center;
                    line-height: 2.25rem;
                    background: $primary;
                    border-radius: 50%;
                }
            }
        }
    }

    .step {
        padding-top: 1rem;
        padding-bottom: 1rem;

        &-icon {
            margin-bottom: 2.5rem;
            height: 7rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            
            svg { width: 9.75rem; }
        }

        &-title {
            color: $primary;
        }

        &-body {

            @include media-breakpoint-up(md) {
                margin: 0 1rem;
            }
        }
    }
}

#giveAMeal {
    position: relative;
    padding: $section-pad-sm 0;
    text-align: center;

    @include media-breakpoint-up(md) {
        padding: $section-pad-sm-desk 0;
        color: $white;

        h2 { color: $white; }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 32%;
        display: block;
        background: rgba($black, 0.75);
        pointer-events: none;

        @include media-breakpoint-up(md) {
            height: 100%;
        }
    }

    .give {

        &-container {
            position: relative;
            z-index: 2;

            @include media-breakpoint-up(md) {
                max-width: 60vw;
            }
        }

        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 32%;
            object-fit: cover;
            object-position: center;

            @include media-breakpoint-up(md) {
                height: 100%;
            }
        }

        &-logo {
            margin-bottom: 3rem;
        }
    }

    .btn {
        width: 17rem;

        @include media-breakpoint-up(md) {
            margin-top: 3rem;
        }
    }
}

#mailingList {
    padding: 0.5rem 0;
    color: $white;
    text-align: center;
    background: $gray-800;

    span { 
        display: inline-block; 
        line-height: $line-height-base;
        vertical-align: middle;

        @include media-breakpoint-down(sm) {
            width: calc(100% - 4rem);
        }
    }

    img { margin-right: 1rem; }

    .form-inline { 
        display: inline-flex;
        vertical-align: middle;

        @include media-breakpoint-down(sm) {
            width: 100%;

            &::before,
            &::after {
                content: '';
                margin: 1rem 0;
                width: 100%;
                height: 1px;
                display: block;
                background: rgba($white, 0.25);
            }

            .input-group { width: 100%; }
        }

        @include media-breakpoint-up(md) {
            margin-left: 3rem;
        }

    }
}