#steps {
    position: relative;
    padding-top: $section-pad;

    @include media-breakpoint-up(lg) {
        padding-top: $section-pad-desk;
    }

    h1 { 
        margin-bottom: 2rem;
        text-align: center;
    }

    @include media-breakpoint-up(lg) {
        text-align: center;
    }

    &::after {
        content: '';
        position: absolute;
        top: 7rem;
        left: calc(12.5vw - 7.5px);
        z-index: -1;
        width: 0.25rem;
        height: 100%;
        background: $gray-200;

        @include media-breakpoint-up(lg) {
            top: 30%;
            left: calc(50% - 2px);
            height: 60%;
        }
    }

    .step {
        margin-bottom: $section-pad-sm;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        @include media-breakpoint-up(lg) {
            margin-bottom: $section-pad-sm-desk;
        }

        &-number {
            padding: 1rem;
            margin: 0 auto;
            width: calc(25vw - 15px);
            text-align: center;
            background: $white;
            order: 1;

            @include media-breakpoint-up(md) {
                order: unset;
                width: 10vw;
            }

            p { 
                display: none;

                @include media-breakpoint-up(lg) {
                    display: block;
                    color: $primary;
                    font-size: 1.625rem;
                    font-weight: $headings-font-weight-light; 
                }
            }

            span {
                width: $section-pad;
                height: $section-pad;
                display: block;
                color: $primary;
                font-size: 2rem;
                font-weight: $font-weight-bold;
                text-align: center;
                line-height: $section-pad;
                border: 1px solid $primary;
                border-radius: 50%;

                @include media-breakpoint-up(lg) {
                    margin: 0 auto;
                    width: $section-pad-desk;
                    height: $section-pad-desk;
                    line-height: $section-pad-desk;
                }
            }

            &.active {
                span {
                    color: $white;
                    background: $primary;
                }
            }
        }

        &-image {
            order: 2;

            img[src=""] {
                display: block;
                border: 1px solid $border-color;
                width: 100%; // PLACEHOLDER
                height: 10rem; // PLACEHOLDER
                
                @include media-breakpoint-up(lg) {
                    height: 20rem; // PLACEHOLDER
                }
            }
        }

        &-content {
            padding: 1.5rem;
            margin-left: calc(25vw - 15px);
            order: 3;
            border: 1px solid $border-color;
            border-top: 0;

            h2 { 
                font-weight: $headings-font-weight-light; 
            }

            .btn {
                display: none;
            }
                
            @include media-breakpoint-up(lg) {
                padding: 0;
                margin-left: 0;
                border: 0;

                p {
                    margin-bottom: 2.5rem;
                }

                .btn {
                    display: block;
                }
            }
        }

        &-image,
        &-content {
            width: calc(75vw - 15px);

            @include media-breakpoint-up(lg) {
                width: 40%;
                order: inherit;
            }
        }

    }
}

#faqs {
    text-align: center;

    .accordion {
        margin: $section-pad-sm -15px 0;
        text-align: left;

        @include media-breakpoint-up(md) {
            margin-right: auto;
            margin-left: auto;
            columns: 2;
            column-gap: 2rem;

            .faq {
                break-inside: avoid;
            }
        }

        @include media-breakpoint-up(lg) {
            margin: $section-pad-sm-desk -15px 0;
            column-gap: 5rem;
        }
    }

    .faq {

        @include media-breakpoint-up(lg) {
            margin-bottom: 2rem;
        }

        &-header {
            border-top: 1px solid $border-color;

            @include media-breakpoint-up(lg) {
                border: 0;
            }

            .btn {
                padding-left: 0;
                padding-right: 0;
                font-weight: $font-weight-bold;
                text-transform: none;
                border-radius: 0;

                &[aria-expanded="true"] {
                    > .icon { 
                        transform: rotate(180deg); 
                        transition: transform 0.2s linear;
                    }
                }

                @include media-breakpoint-down(md) {

                    &[aria-expanded="true"] { 
                        color: $white;
                        background: $primary;

                        > .icon {
                            transform: rotate(0deg);
                        }
                    }
                }

                @include media-breakpoint-down(lg) {
                    padding: 1rem 0 1rem 3rem;
                    white-space: normal;
                    text-align: left;
                }
            }

            .icon {
                margin-left: -2.5rem;
                margin-right: 0.75rem;
                transform: rotate(-90deg); 
                transition: transform 0.2s linear;

                @include media-breakpoint-up(lg) {
                    transform: rotate(0deg); 
                    margin-left: 0;
                    background: $primary;
                    border-radius: 50%; 
                    stroke: $white;
                }
            }
        }

        &-body {
            padding: 1rem 1rem 1rem 3rem;

            @include media-breakpoint-up(lg) {
                padding: 0 0 0 2.7rem;
            }
        }
    }
}