#steps {
    position: relative;
    padding-top: $section-pad;
    padding-bottom: $section-pad;
    text-align: center;

    @include media-breakpoint-down(sm) {
        > .btn { margin: 0 auto; }
    }

    @include media-breakpoint-up(lg) {
        padding-top: $section-pad-desk;
    }

    h1 { 
        margin-bottom: 2rem;
        text-align: center;
    }

    &::after {
        content: '';
        position: absolute;
        top: 7rem;
        left: calc(12.5vw - 15px - 0.125rem);
        z-index: -1;
        width: 0.25rem;
        height: 90%;
        background: $gray-200;

        @include media-breakpoint-up(md) {
            top: 20%;
            left: calc(50% - 2px);
            height: 65%;
        }
    }

    .step {
        margin-bottom: $section-pad-sm;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s ease-out;
        text-align: left;

        @include media-breakpoint-up(lg) {
            margin-bottom: $section-pad-sm-desk;
        }

        &.active {
            .step-number span {
                color: $white;
                background: $primary;
                transition: all 0.3s ease-in;
            }
        }

        &.scroll-past + .step {
            .step-number span {
                color: $white;
                background: $primary;
                transition: all 0.3s ease-in;
            }
        }

        &-number {
            padding: 4px;
            margin-right: 15px;
            width: calc(25vw - 30px);
            text-align: center;
            background: $white;
            order: 1;

            @include media-breakpoint-up(md) {
                padding: 1rem;
                margin: 0 auto;
                order: unset;
                width: 10vw;
            }

            p { 
                display: none;

                @include media-breakpoint-up(md) {
                    display: block;
                    color: $primary;
                    font-size: 1.625rem;
                    font-weight: $headings-font-weight-light; 
                }
            }

            span {
                margin: 0 auto;
                width: $section-pad;
                height: $section-pad;
                display: block;
                color: $primary;
                font-size: 2rem;
                font-weight: $font-weight-bold;
                text-align: center;
                line-height: $section-pad;
                border: 1px solid $primary;
                border-radius: 50%;

                @include media-breakpoint-up(md) {
                    width: $section-pad-lg;
                    height: $section-pad-lg;
                    line-height: $section-pad-lg;
                }

                @include media-breakpoint-up(lg) {
                    width: $section-pad-desk;
                    height: $section-pad-desk;
                    line-height: $section-pad-desk;
                }
            }
        }

        &-image {
            order: 2;

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }

        &-content {
            padding: 1.5rem;
            margin-left: calc(25vw - 15px);
            order: 3;
            border: 1px solid $border-color;
            border-top: 0;

            h2 { 
                font-weight: $headings-font-weight-light; 
            }

            .btn {
                display: none;
            }
                
            @include media-breakpoint-up(md) {
                padding: 0;
                margin-left: 0;
                border: 0;

                p {
                    margin-bottom: 2.5rem;
                }

                .btn {
                    display: block;
                }
            }
        }

        &-image,
        &-content {
            width: calc(75vw - 15px);

            @include media-breakpoint-up(md) {
                width: 40%;
                order: inherit;
            }
        }

    }
}

#faqs {
    text-align: center;

    .faqs-container {
        margin-top: $section-pad-sm;
        text-align: left;

        @include media-breakpoint-up(md) {
            margin-right: auto;
            margin-left: auto;
            columns: 2;
            column-gap: 2rem;

            .faq {
                break-inside: avoid;
            }
        }

        @include media-breakpoint-up(lg) {
            margin-top: $section-pad-sm-desk;
            column-gap: 5rem;
        }
    }

    .faq {

        @include media-breakpoint-up(lg) {
            margin-bottom: 2rem;
        }

        &-header {
            padding: 1rem 0 0 2rem;
            background: url('../images/fork-icon.png') no-repeat left center;
            background-size: 1.5rem 1.5rem;
            border-top: 1px solid $border-color;

            @include media-breakpoint-up(lg) {
                border: 0;
            }

            .btn {
                padding-left: 3rem;
                padding-right: 0;
                color: $gray-700;
                font-weight: $font-weight-bold;
                text-transform: none;
                border-radius: 0;
                text-align: left;

                &[aria-expanded="true"] {
                    > .icon { 
                        transform: rotate(180deg); 
                        transition: transform 0.2s linear;
                    }
                }

                @include media-breakpoint-down(md) {

                    &[aria-expanded="true"] { 
                        color: $white;
                        background: $primary;

                        > .icon {
                            transform: rotate(0deg);
                        }
                    }
                }

                @include media-breakpoint-down(lg) {
                    padding: 1rem 0 1rem 3rem;
                    white-space: normal;
                    text-align: left;
                }
            }

            .icon {
                margin-left: -2.5rem;
                margin-right: 0.75rem;
                transform: rotate(-90deg); 
                transition: transform 0.2s linear;

                @include media-breakpoint-up(lg) {
                    transform: rotate(0deg); 
                    background: $primary;
                    border-radius: 50%; 
                    stroke: $white;
                }
            }
        }

        &-body {
            padding: 1rem 1rem 1rem 2rem;

            @include media-breakpoint-up(lg) {
                padding: 0 0 0 2rem;
            }
        }
    }
}