#loginForm_container {
    padding-top: $section-pad;
    padding-bottom: $section-pad-desk;
    margin: 0 auto;
    max-width: 525px;
    text-align: center;

    .h2 { color: $primary; }

    .btn-warning { margin-bottom: 2rem; }

    hr { margin: 2rem auto; }

}

#loginForm {
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column nowrap;

    button { 
        margin-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        align-self: flex-end;

        @include media-breakpoint-down(sm) {
            margin-top: 1rem;
            width: 100%;
        }
    }
}


#registerForm_container {
    padding-top: $section-pad;
    padding-bottom: $section-pad-desk;
    margin: 0 auto;
    max-width: 525px;
    text-align: center;

    .h2 { color: $primary; }

    small { 
        margin-bottom: 2rem; 
        display: block;
    }

    .btn-warning { margin-bottom: 2rem; }

    hr { margin: 2rem auto; }
}

#registerForm {
    margin-bottom: 2rem;

    label svg { stroke: $primary; }

    button {
        margin-top: 2rem;

        @include media-breakpoint-down(sm) {
            margin-top: 1rem;
            width: 100%;
        }
    }

    .form-group { position: relative; }

    .show-password {
        position: absolute;
        left: calc(100% + 5px);
        top: calc(50% - 0.75rem);
        color: $primary;

        &:hover { cursor: pointer; }
    }
}