#loginForm_container,
#registerForm_container {
    padding: 2rem;
    margin: 0 auto;
    max-width: 525px;
    text-align: center;

    @include media-breakpoint-up(lg) {
        padding: 2rem 0;
    }

    .h2 { color: $primary; }

    .btn-warning { margin-bottom: 2rem; }

    hr { margin: 2rem auto; }

    .show-password {
        color: $primary;

        &:hover { cursor: pointer; }
    }

}

#loginForm {
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column nowrap;

    button { 
        margin-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        align-self: flex-end;

        @include media-breakpoint-down(sm) {
            margin-top: 1rem;
            width: 100%;
        }
    }
}


#registerForm_container {

    .form-check {
        margin-top: 2rem;
        text-align: left;
    }
}

#registerForm {
    margin-bottom: 2rem;

    label svg { stroke: $primary; }

    button {
        margin-top: 2rem;

        @include media-breakpoint-down(sm) {
            margin-top: 1rem;
            width: 100%;
        }
    }

    .form-check {
        label {
            text-align: left;
            span {
                display: block;

                @include media-breakpoint-up(md) {
                    display: inline-block;
                }
            }
        }
    }
}