.orderReview {

    > .container {
        padding-top: $section-pad-sm;
        padding-bottom: $section-pad-sm;
        margin: 0 auto;
        max-width: 90vw;
        display: flex;
        flex-flow: row wrap;
        align-content: stretch;
        justify-content: space-between;

        @include media-breakpoint-up(xl) {
            padding-top: $section-pad;
            padding-bottom: $section-pad;
            max-width: 80vw;
        }


        h1,
        .nav { 
            width: 100%;
            text-align: center;
        }

        h1 { margin-bottom: 2rem; }

        .nav {
            margin-bottom: 1rem;
            justify-content: center;

            @include media-breakpoint-up(md) {
                margin-bottom: 5rem;
            }

            &-link.active {
                color: $body-color;
            }
        }
    }

    .purchase {

        &-info,
        &-details {
            width: 100%;

            @include media-breakpoint-up(md) {
                width: calc(50% - 4rem);
            }
        }

        &-info {
            position: relative;
            margin-bottom: 2rem;
            text-align: center;

            > div { text-align: left; }

            @include media-breakpoint-up(md) {
                margin-bottom: 0;
                
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: -4rem;
                    width: 1px;
                    height: 100%;
                    background: $border-color;
                }
            }
        }

        &-details {
            margin-bottom: 0;
            display: flex;
            flex-flow: column nowrap;
            text-align: center;

            @include media-breakpoint-up(md) {
                padding-bottom: 3.5rem;
            }

            dl {
                flex: 1 0 auto;
                text-align: left;
            }

            dt,
            dd {
                &.total {
                    padding-top: 1rem;
                    margin-top: 0.5rem;
                    font-weight: $font-weight-bold;
                    border-top: 1px solid $gray-400;
                }
            }
            
            .btn-warning {
                margin-bottom: 1rem;
            }

            small { font-size: $font-size-xs; }
        }
        
        &-help {
            margin-left: -5vw;
            margin-right: -5vw;

            @include media-breakpoint-up(md) {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}