#mapContainer {
    position: relative;
    border-bottom: 1px solid $gray-300;
    background: $gray-200;

    .container {
        padding: 1rem 2rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;

        @include media-breakpoint-up(xl) {
            padding: $section-pad-sm-desk $section-pad-lg-desk 1rem;
        }
    }

    [data-controls="gmap"] {
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }
}

[data-controls="gmap"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.restaurant-search {
    position: relative;
    z-index: 1;
    padding: 1rem;
    width: 100%;
    text-align: center;
    background: $gray-100;
    border-top: 0.65rem solid $primary;
    border-bottom: 0.65rem solid $primary;
    border-radius: $border-radius-lg;
    box-shadow: 0 1px 10px rgba($gray-600, 0.5);

    @include media-breakpoint-up(md) {
        width: 300px;
    }

    .h4 { margin-bottom: 1.5rem; }

    fieldset {
        margin-bottom: 1rem;
    }

    .selectr {
        &-container { text-align: left; }

        &-selected::before {
            border-width: 6px 6px 0;
            border-color: $secondary transparent transparent;
        }
    }

    .form-group { margin-bottom: 1rem; }

    @at-root .searchDistance-container {

        label { 
            margin-bottom: 1rem;
        }

        .input {
            padding: 0.5rem;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            border: 1px solid $input-border-color;
            border-radius: $input-border-radius;
            background: $white;
        }

        input { 
            margin-right: 0.25rem;
            flex: 1 0 auto;
        }
    }

    .icon { 
        margin-right: 0.25rem;
        stroke: $primary;
    }
}

#ourRestaurantsIntro {
    padding-top: $section-pad;
    margin: 0 auto;
    text-align: center;

    @include media-breakpoint-up(lg) {
        max-width: 85vw;
    }

    @include media-breakpoint-up(xl) {
        padding-top: $section-pad-desk;
        max-width: 75vw;
    }
}

#restaurantNameSearch {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    background: $gray-100;
    border-radius: $border-radius;
    
    @include media-breakpoint-up(md) {
        margin: 0 auto;
        max-width: 80vw;
    }

    @include media-breakpoint-up(xl) {
        max-width: 60vw;
    }

    .form-group { 
        width: 100%;

        .form-control { 
            width: 100%;
            background: $white;
        }

        @include media-breakpoint-up(md) {

            &:first-of-type {
                width: auto;
                flex: 1 0 auto;
                margin-right: 1rem;
            }

            &:nth-of-type(2) {
                width: 22%;
            }

        }
    }
    .btn {
        margin-left: 0.5rem;
    }

    @include media-breakpoint-down(sm) {
        text-align: center;

        .btn { margin: 0 auto; }
    }   
}

#restaurantsContainer {
    padding-top: $section-pad-lg;
    padding-bottom: $section-pad-lg;
    
    @include media-breakpoint-up(sm) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 2rem;
    }
    
    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4rem;
    }
    
    @include media-breakpoint-up(xl) {
        padding-top: $section-pad-lg-desk;
        padding-bottom: $section-pad-lg-desk;
    }

    .restaurant {
        margin-bottom: 1rem;
        text-align: left;

        @include media-breakpoint-down(sm) {
            padding-bottom: 1rem;
            border-bottom: 1px solid $border-color;
        }

        h1.h5 {
            small {
                margin-bottom: 4px;
                font-size: 0.65em;
                font-weight: $font-weight-bold;

                svg {
                    width: 1rem;
                    height: 1rem;
                }

                &:not(.text-warning) {
                    padding-left: 1.25rem;
                    color: $primary;
                    background: url("../images/fork-icon.png") no-repeat left center;
                    background-size: 16px 16px;
                }
            }
        }
    }
}