.pressPage {

    .page-header {
        padding-top: $section-pad-sm;
        padding-bottom: $section-pad-sm;

        @include media-breakpoint-up(md) {
            padding-top: $section-pad;
            padding-bottom: $section-pad;
        }

        .container {
            position: relative;
            z-index: 1;
        }

        h1 {
            margin: 0;
            color: $white;
            text-align: center;
        }
    }
}

#featuredArticles {
    padding-top: $section-pad;
    padding-bottom: $section-pad;
    margin: 0 auto;
    text-align: center;

    @include media-breakpoint-up(md) {
        width: 70vw;
    }

    .eyebrow {
        color: $gray-500;
        font-weight: $headings-font-weight-light;
        text-align: left;

        @include media-breakpoint-up(md) {
            padding-left: 10rem;
        }

        img {
            width: 20px;
            height: 20px;
            vertical-align: top;
        }
    }

    .article {
        padding: 1rem 0;
        width: 100%;
        text-align: left;

        @include media-breakpoint-up(md) {
            padding: 1rem 10rem;
        }

        h1 { 
            margin-bottom: 1rem;
            font-weight: $headings-font-weight-light;
        }
    }
    

    .flickity-prev-next-button {
        border: 1px solid $border-color;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;

        @include media-breakpoint-down(md) {
            position: absolute;
            top: -1rem;
            width: 2rem;
            height: 2rem;

            &.previous {
                right: 3rem;
                left: auto;
            }
        }

        &:hover,
        &:focus {
            border-color: $primary;
            box-shadow: 0 0 4px rgba($primary, 0.75);
        }

        .flickity-button-icon {
            top: 30%;
            left: 30%;
            width: 40%;
            height: 40%;
        }
    }
}

#recentArticles {
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;

    h2 { text-align: left; }

    .btn { margin: 0 auto; }

    .article {
        padding: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
        text-align: left;
        border: 1px solid $border-color;

        @include media-breakpoint-up(md) {
            padding: 2.5rem;
            width: calc(33.33% - 1.5rem);
        }

        &:hover,
        &:focus {
            color: inherit;
            border-color: $primary;
            box-shadow: 0 0 5px rgba($primary, 0.5);
        }

        > a {
            color: unset;
            text-decoration: none;
        }

        &s-container {
            margin-right: -1.5rem;
            margin-bottom: 2rem;
            display: flex;
            flex-flow: row wrap;
        }

        &-image {
            margin-bottom: 1rem;
            height: 3rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
                object-position: left;
            }
        }

        header { margin-bottom: 1rem; }

        &-date { display: block; }

        &-source {
            font-size: 1.25rem;
        }

        &-link {
            color: $primary;
            text-decoration: underline;
        }
    }
}