#restaurantPage {
    > .container {
        display: flex;
        flex-flow: row wrap;
        align-content: stretch;
    }

    .breadcrumb-nav {
        width: 100%;

        @include media-breakpoint-up(lg) {
            + .restaurant-main + .restaurant-side {
                margin-top: -4rem;
            }
        }
    }

    .buy-now,
    .become-partner {
        text-align: center;

        @include media-breakpoint-up(sm) {
            width: 45%;
            float: left;
        }

        @include media-breakpoint-up(lg) {
            width: auto;
            float: none;
        }

        h4 {
            font-size: 1.25rem;
        }

        .icon {
            display: none;

            @include media-breakpoint-up(sm) {
                width: 2.5rem;
                height: 2.5rem;
                display: block;
                margin: -1rem auto 0;
            }

            @include media-breakpoint-up(lg) {
                width: 3rem;
                height: 3rem;
            }
        }
    }

    .buy-now {
        color: $primary;

        @include media-breakpoint-up(sm) {
            margin-top: 2rem;
            float: right;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 0;
            float: none;
        }
    }
}

.featured-image-hero {
    position: relative;
    margin-bottom: 1.5rem;
    width: calc(100vw - 30px);
    overflow-x: scroll;

    @include media-breakpoint-up(md) {
        left: -2rem;
        width: calc(100% + 2rem);
        height: 18rem;
        overflow: visible;
    }

    @include media-breakpoint-up(lg) {
        height: 15rem;
    }

    @include media-breakpoint-up(xl) {
        height: 22rem;
    }
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    &-gallery {
        white-space: nowrap;

        @include media-breakpoint-up(md) {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 5px;
            align-items: stretch;
            justify-items: stretch;
            white-space: unset;
        }
    }

    &-container {
        margin-right: 5px;
        width: 30vw;
        height: 30vw;
        display: inline-block;

        @include media-breakpoint-up(md) {
            margin: 0;
            width: 100%;
            height: 100%;

            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4) {
                grid-row-start: 1;
            }

            &:nth-of-type(5),
            &:nth-of-type(6) {
                grid-row-start: 2;
            }

            
            &:nth-of-type(2) { grid-column-start: 2; }
            &:nth-of-type(4) { grid-column-start: 5; }

            &:nth-of-type(1),
            &:nth-of-type(3),
            &:nth-of-type(5),
            &:nth-of-type(6) {
                grid-row-end: span 1;
                grid-column-end: span 1;
            }
            
            &:nth-of-type(2),
            &:nth-of-type(4) {
                grid-column-end: span 2;
                grid-row-end: span 2;
            }
        }
    }
}

.restaurant {

    &-main {
        padding-top: 1rem;

        @include media-breakpoint-up(lg) {
            padding-right: $section-pad-lg;
            width: 70%;
        }

        @include media-breakpoint-up(xl) {
            padding-right: $section-pad-lg-desk;
            width: 75%;
        }

        .featured & {

            @include media-breakpoint-down(xs) {
                > *[class*="restaurant"] {
                    width: 100%;
                }
            }

            @include media-breakpoint-down(sm) {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

                .featured-image-hero { order: 2; }

                .restaurant-header { order: 1; }

                .restaurant-reservation { order: 3; }

                .buy-now { order: 4; }

                .restaurant-info { order: 5; }

                .restaurant-video { order: 6; }
            }
        }
    }

    &-side {
        position: relative;
        padding: 2rem;
        width: 100%;

        @include media-breakpoint-up(lg) {
            width: 30%;
            background: $gray-100;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: calc(-50vw + 100%);
                bottom: 0;
                z-index: -1;
                width: 50vw;
                background: inherit;
            }

            .fixed {
                position: sticky;
                top: 2rem;
                background: $gray-100;
            }
        }

        @include media-breakpoint-up(xl) {
            width: 25%;
        }

        hr {
            margin: $section-pad-sm 0;

            @include media-breakpoint-up(lg) {
                margin: $section-pad-sm-desk 0;
            }
        }


        .reservation {
            display: none;

            + hr + .buy-now {
                display: none;
            }

            @include media-breakpoint-down(lg) {

                + hr { margin-top: 0; }
            }

            @include media-breakpoint-up(lg) {
                display: block;

                + hr + .buy-now {
                    display: block;
                }
    
                h4 {
                    font-size: 1.25rem;
                    text-align: center;
                }

                .form-group {
                    position: relative;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                }

                .icon {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                .form-control {
                    padding-right: 4rem;
                    margin: 0 0 0 0.5rem;
                    width: auto;
                    max-width: calc(100% - 2rem);
                    flex: 1 0 auto;

                    &::placeholder {
                        color: $body-color;
                        font-style: normal;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    &-page-nav {
        display: none;

        @include media-breakpoint-up(md) {
            position: relative;
            top: -3rem;
            z-index: 1;
            padding: 0 1.5rem;
            display: inline-block;
            background: $white;
            box-shadow: 0 1px 3px rgba($black, 0.25);

            a {
                padding: 0.5rem 1rem;
                display: inline-block;
                color: $body-color;
                text-decoration: none !important;
                
                &.active {
                    color: $primary;
                    border-bottom: 1px solid $primary;
                }

                &:hover { color: $primary; }
            }
        }

        @include media-breakpoint-up(xl) {

            + .restaurant-header { margin-top: 3rem; }
        }
    }

    &-header {
        margin-bottom: 1.5rem;
        border-bottom: 1px solid $border-color;

        h1 { margin-bottom: 0.75rem; }

        @include media-breakpoint-up(xl) {
            margin-top: $section-pad-sm-desk;
        }
    }

    &-cost {
        margin-right: 2rem;

        .icon {
            stroke: $gray-400;

            &.active { stroke: $black; }
        }
    }

    &-type { 
        padding: 0.5rem 2rem;
        display: inline;
    }

    &-tags {
        margin-top: 1rem;
        margin-bottom: 1rem;

        @include media-breakpoint-up(lg) {
            margin-top: 2rem;
            margin-bottom: 3rem;
        }

        .badge {
            padding: 0.5rem 1rem;
            margin-bottom: 0.5rem;
            color: $body-color;
            border: 1px solid $border-color;
            background: transparent;
        }
    }

    &-reservation {
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid $border-color;

        .input-group { margin-bottom: 1rem; }

        input {
            &:first-of-type { 
                width: 25%;
                min-width: 75px;
                flex: none;
            }

            &:last-of-type {
                width: 30%;
                flex: none;
            }
        }

        @include media-breakpoint-up(sm) {
            width: 45%;
            float: left;
            border-bottom: none;
        }

        @include media-breakpoint-up(lg) {
            display: none;

            + .buy-now { display: none; }
        }
        
    }

    &-description {
        margin-bottom: $section-pad-sm;
        clear: both;

        @include media-breakpoint-up(sm) {
            margin-bottom: $section-pad-sm-desk;
        }
    }

    &-contact {
        margin-bottom:  $section-pad;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        @include media-breakpoint-up(lg) {
            margin-bottom: $section-pad-desk;
        }

        > div {
            padding: 1rem;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-content: center;
            border-bottom: 1px solid $border-color;

            @include media-breakpoint-up(sm) {
                width: calc(33.33% - 2rem);
                justify-content: center;
                border: 1px solid $border-color;
            }

            &:first-of-type {
                border-top: 1px solid $border-color;
            }

            .icon {
                width: 1.75rem;
                height: 1.75rem;

                &-container {
                    display: inline-block;
                    margin-right: 1rem;

                    @include media-breakpoint-up(sm) {
                        margin-top: -2.5rem;
                        margin-right: 0;
                        margin-bottom: 0.5rem;
                        width: 3rem;
                        height: 3rem;
                        color: $white;
                        text-align: center;
                        line-height: 2.75rem;
                        background: $primary;
                        border-radius: 50%;
                    }
                }
            }

            a { 
                display: block;

                @include media-breakpoint-up(sm) {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

    &-location {
        position: relative;
        margin-bottom: $section-pad;
        min-height: 17rem;
        display: flex;
        flex-flow: column nowrap;

        @include media-breakpoint-up(xl) {
            margin-bottom: $section-pad-desk;
        }

        .google-map {
            position: static;
            flex: 1 0 auto;
        }

        address {
            padding: 0.5rem;
            display: block;
            color: $white;
            background: $primary;

            span { 
                padding-left: 26px;
                display: block;
            }

            @include media-breakpoint-up(sm) {
                padding: 1rem;
                text-align: center;

                span { 
                    display: inline;
                    padding-left: 0;
                }
            }
        }
    }

    &-related {
        text-align: center;
        max-width: calc(100vw - 30px);

        h2 {
            padding-bottom: 1rem;
            width: 100%;
            text-align: left;
            border-bottom: 1px solid $black;
        }

        > a { 
            display: block;
            margin: 2rem auto;
        }

        .restaurants-container {
            margin-bottom: 2rem;

            .grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;
                grid-gap: 1rem;
    
                .card { min-width: 200px; }
    
                @include media-breakpoint-up(lg) {
                    grid-gap: 2rem;
                }
            }
        }

        .restaurant { 
            text-align: left;

            > a { text-decoration: none; }

            .card-image { 
                height: 10rem;

                @include media-breakpoint-up(lg) {
                    height: 8rem;
                }

                @include media-breakpoint-up(xl) {
                    height: 12rem;
                }
            }
        }
        
    }

    &-gallery {
        display: none;

        @include media-breakpoint-up(lg) {
            margin-bottom: 3rem;
            width: 100%;
            display: block;

            .image-gallery {
                height: 15rem;
            }
        }

        @include media-breakpoint-up(xl) {

            .image-gallery {
                height: 20rem;
            }
        }
    }

    &-video {

        @include media-breakpoint-up(lg) {
            margin-bottom: $section-pad-desk;
        }

        p { 
            font-weight: $headings-font-weight-light;
            margin-top: 1rem;
        }
    }
}