#restaurantPage {
    > .container {
        display: flex;
        flex-flow: row wrap;
        align-content: stretch;
    }
}

.featured-image-hero {
    position: relative;
    left: -2rem;
    width: calc(100% + 2rem);
    height: 22rem;
    display: grid;
    grid-template-columns: repeat(1fr, 6);
    grid-template-columns: repeat(1fr, 2);
    grid-gap: 5px;
    align-items: stretch;
    justify-items: stretch;

    img {
        height: auto;
        max-width: 100%;
        max-height: 100%;

        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4) {
            grid-row-start: 1;
        }

        &:nth-of-type(5),
        &:nth-of-type(6) {
            grid-row-start: 2;
        }

        
        &:nth-of-type(2) { grid-column-start: 2; }
        &:nth-of-type(4) { grid-column-start: 5; }

        &:nth-of-type(1),
        &:nth-of-type(3),
        &:nth-of-type(5),
        &:nth-of-type(6) {
            grid-row-end: span 1;
            grid-column-end: span 1;
        }
        
        &:nth-of-type(2),
        &:nth-of-type(4) {
            grid-column-end: span 2;
            grid-row-end: span 2;
        }
    }
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(1fr, 6);
    grid-template-columns: repeat(1fr, 2);
    grid-gap: 5px;
    align-items: stretch;
    justify-items: stretch;

    img {
        height: auto;
        max-width: 100%;
        max-height: 100%;

        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4) {
            grid-row-start: 1;
        }

        &:nth-of-type(5),
        &:nth-of-type(6) {
            grid-row-start: 2;
        }

        
        &:nth-of-type(2) { grid-column-start: 2; }
        &:nth-of-type(4) { grid-column-start: 5; }

        &:nth-of-type(1),
        &:nth-of-type(3),
        &:nth-of-type(5),
        &:nth-of-type(6) {
            grid-row-end: span 1;
            grid-column-end: span 1;
        }
        
        &:nth-of-type(2),
        &:nth-of-type(4) {
            grid-column-end: span 2;
            grid-row-end: span 2;
        }
    }
}

.restaurant {
    &-main {
        padding-top: 1.5rem;
        padding-right: 8rem;
        width: 80%;
    }

    &-side {
        position: relative;
        padding: 2rem;
        width: 20%;
        background: $gray-100;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: calc(-50vw + 100%);
            bottom: 0;
            z-index: -1;
            width: 50vw;
            background: inherit;
        }

        .fixed {
            position: sticky;
            top: 2rem;
        }

        .buy-now,
        .become-partner {
            text-align: center;

            h4 {
                margin-bottom: 0;
                font-size: 1.25rem;
            }

            .icon {
                width: 3rem;
                height: 3rem;
            }
        }

        hr {
            margin: 4rem 0;
        }

        .buy-now {
            color: $primary;
        }

        .reservation {

            h4 {
                font-size: 1.25rem;
                text-align: center;
            }

            .form-group {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
            }

            .icon {
                width: 1.5rem;
                height: 1.5rem;
            }

            .form-control {
                margin: 0 0.5rem;
                width: auto;
                max-width: calc(100% - 2.5rem);
                flex: 1 0 auto;
            }
        }
    }

    &-page-nav {
        position: relative;
        top: -2rem;
        z-index: 1;
        padding: 0.5rem 1.5rem 0;
        display: inline-block;
        background: $white;
        box-shadow: 0 1px 3px rgba($black, 0.25);

        a {
            padding: 0.5rem 1rem;
            display: inline-block;
            color: $body-color;
            text-decoration: none !important;
            
            &.active {
                color: $primary;
                border-bottom: 1px solid $primary;
            }

            &:hover { color: $primary; }
        }

        + .restaurant-header { margin-top: 3rem; }
    }

    &-header {
        margin-top: 5rem;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid $border-color;

        h1 { margin-bottom: 0.75rem; }
    }

    &-cost {
        margin-right: 2rem;

        .icon {
            stroke: $gray-400;

            &.active { stroke: $black; }
        }
    }

    &-type { 
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &-tags {
        margin-top: 2rem;
        margin-bottom: 3rem;

        .badge {
            padding: 0.5rem 1rem;
            color: $body-color;
            border: 1px solid $border-color;
            background: transparent;
        }
    }

    &-description {
        margin-bottom: 5rem;
    }

    &-contact {
        margin-bottom:  $section-pad;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        > div {
            padding: 1rem;
            width: calc(33.33% - 2rem);
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            border: 1px solid $border-color;

            .icon {
                width: 1.75rem;
                height: 1.75rem;

                &-container {
                    margin-top: -2.5rem;
                    margin-bottom: 0.5rem;
                    width: 3rem;
                    height: 3rem;
                    color: $white;
                    text-align: center;
                    line-height: 2.75rem;
                    background: $primary;
                    border-radius: 50%;
                }
            }

            a { 
                width: 100%;
                display: block;
                text-align: center;
            }
        }
    }

    &-location {
        position: relative;
        margin-bottom: $section-pad;
        min-height: 17rem;
        display: flex;
        flex-flow: column nowrap;

        .google-map {
            position: static;
            flex: 1 0 auto;
        }

        address {
            padding: 1rem;
            display: block;
            color: $white;
            text-align: center;
            background: $primary;
        }
    }

    &-related {
        text-align: center;

        h2 {
            padding-bottom: 1rem;
            width: 100%;
            text-align: left;
            border-bottom: 1px solid $black;
        }

        > a { 
            display: block;
            margin: 2rem auto;
        }

        .restaurants-container {
            margin-bottom: 2rem;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        .restaurant { 
            width: calc(33.33% - 1rem);
            text-align: left;

            > a { text-decoration: none; }

            .card-image { height: 12rem; }
        }
        
    }

    &-gallery {
        margin-bottom: 3rem;
        width: 100%;
        height: 20rem;
    }

    &-video {
        margin-bottom: $section-pad;

        p { 
            font-weight: $headings-font-weight-light;
            margin-top: 1rem;
        }
    }
}